.imagen-logo {
    animation: shadowPulse 4s infinite ease-in-out;
    border-radius: 100px;
    border: 7px;
    padding: 20px;
    background-color: #ffff;

    }
    
    @keyframes shadowPulse {
        0% {
            box-shadow: 
                0 0 30px rgb(21, 182, 184),
                0 0 50px rgba(21, 182, 184, 0.5);
        }
        25% {
            box-shadow: 
                0 0 40px rgb(165, 200, 168),
                0 0 60px rgba(165, 200, 168, 0.6);
        }
        50% {
            box-shadow: 
                0 0 50px rgb(21, 182, 184),
                0 0 70px rgba(21, 182, 184, 0.7);
        }
        75% {
            box-shadow: 
                0 0 40px rgb(165, 200, 168),
                0 0 60px rgba(165, 200, 168, 0.6);
        }
        100% {
            box-shadow: 
                0 0 30px rgb(21, 182, 184),
                0 0 50px rgba(21, 182, 184, 0.5);
        }
    }
    .nav-link {
        position: relative;
        transition: all 0.3s ease;
    }
    
    .nav-link::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid transparent;
        transition: all 0.3s ease;
    }
    
    .nav-link:hover::before,
    .nav-link.active::before {
        border-color: #0E8385; /* Color del borde cuando está activo o en hover */
        transform: scale(1.1); /* Hace el borde ligeramente más grande */
    }
    
    .nav-link.active {
        font-weight: bold; /* Opcional: hace el texto más grueso cuando está activo */
    }