
 
        <!DOCTYPE html>
        <html lang="es">
            <%- include('./partials/head', {
                title : "Home"
            }) %>
        <body>
          <!--Cabezera-->
    <%- include('./partials/header') %>
          <main class="container">
            <section class="about-container">
              <h2>Acerca de WOX La Radio</h2>
              <p>WOX La Radio es una aplicación de radio en línea que te permite escuchar tus estaciones favoritas desde cualquier lugar.</p>
              <p>Nuestra misión es brindarte la mejor experiencia de radio en línea, con una variedad de estaciones y programas para todos los gustos.</p>
            </section>
            <section class="team-container">
              <h2>Equipo de WOX La Radio</h2>
              <ul>
                <li>
                  <img src="" alt="Equipo 1">
                  <h3>Director Genera: Juan Pérez</h3>
                  <p>Juan Pérez es el director general de la Radio WOX, con más de 10 años de experiencia en el sector radial.</p>
                </li>
                <li>
                  <img src="equipo2.png" alt="Equipo 2">
                  <h3>Productora: María Rodríguez</h3>
                  <p> María Rodríguez es la productora de la Radio WOX, responsable de la coordinación de programas y eventos</p>
                <img src="" alt="Equipo 3">
                  <h3>Director : Juan Pérez</h3>
                  <p>Juan Pérez es el director general de la Radio WOX, con más de 10 años de experiencia en el sector radial.</p>
                </li></li>
              </ul>
            </section>
            <section class="contact-container">
              <h2>Contáctanos</h2>
              <p>¿Tienes alguna pregunta o sugerencia? Contáctanos a través de nuestro correo electrónico: <a href="mailto:info@woxladio.com">info@woxladio.com</a></p>
            </section>
          </main>
          <footer class="bottom-bar">
            <button class="back-btn">Volver</button>
          </footer>
        </body>
        </html>
