<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {
        title : "Nosotros"
    }) %>
   
<body class="pagina-about">
    <!--Cabezera-->
    <%- include('./partials/header') %>
    <main>
      


        <div class="div-about">  
           
            <h1>Sobre nosotros</h1>
          
            <h2>WOX FM</h2>
            <p>WOX FM es una radio comunitaria ubicada en Rosario, Argentina. Nuestra misi贸n es brindar informaci贸n y entretenimiento de calidad a la comunidad.</p>
          
          <h3>InclusivaMente</h3> 
         
            <p>"Inclusiva Mente" se presenta como una iniciativa innovadora y transformadora que busca promover la PERTENENCIA Y PARTICIPACIN de personas con discapacidad a trav茅s de un medio de comunicaci贸n poderoso como la radio. Con la INCORPORACIN  activa y protagonismo de personas con discapacidad como columnistas, el proyecto aspira a generar un impacto positivo en la sociedad, inspirando el cambio hacia 
            una cultura m谩s inclusiva y equitativa para todos.</p>
            
            <h3>Visi贸n</h3>
            <p>Destinado a fomentar la participaci贸n activa de j贸venes con discapacidad. Este proyecto se alinea con un modelo de triple impacto, buscando generar beneficios sociales, econ贸micos y ambientales.</p>
            
           
            
            <h3>Programaci贸n</h3>
            <p>Todos los viernes, de 9 a 10hs por radio  WOX 88.3 y v铆a streaming </p>            
         
            <div class="container-form">
                <div class="info-form">
                    <h4>驴Quieres ser parte de nosotros?</h4>
                    <img src="/images/banner.png" alt="Banner-inclusivamente">
                
                    <a href="#"><i class="fa-solid fa-envelope" style="color: #46d2af;"></i> fundacionemperador@gmail.com</a>
                </div>
                <form action="#" autocomplete="off">
                    <input type="text" name="nombre" placeholder="Tu Nombre" class="campo">
                    <input type="emal" name="email" placeholder="Tu Email" class="campo">
                    <textarea name="mensaje" placeholder="Tu Mensaje..."></textarea>
                    <input type="submit" name="enviar" value="Enviar Mensaje" class="btn-enviar">
                </form>
            </div>
          </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>