<!doctype html>
<html lang="en">
  <%- include('./partials/head', { title : "Administrador" }) %>
  <body>
    <!--Cabezera-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img
            width="80px"
            src="/images/logoFundaEmp.png"
            alt="logo_fundacion"
            class="imagen-logo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Radios amigas</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Buscar
            </button>
          </form>
        </div>
      </div>
    </nav>
    <main class="container card my-4">
      <section class="row">
        <article class="col-12 col-md-10 mx-auto">
          <div class="  ">
            <div class="card-body">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button
                    class="nav-link active"
                    id="nav-home-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-home"
                    type="button"
                    role="tab"
                    aria-controls="nav-home"
                    aria-selected="true"
                  >
                    Stream en curso
                  </button>
                  <button
                    class="nav-link"
                    id="nav-profile-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-profile"
                    type="button"
                    role="tab"
                    aria-controls="nav-profile"
                    aria-selected="false"
                  >
                    Agregar trasmisión
                  </button>
                  <button
                    class="nav-link"
                    id="nav-contact-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-contact"
                    type="button"
                    role="tab"
                    aria-controls="nav-contact"
                    aria-selected="false"
                  >
                    Registrar radio
                  </button>
                  <button
                    class="nav-link"
                    id="nav-disabled-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#nav-disabled"
                    type="button"
                    role="tab"
                    aria-controls="nav-disabled"
                    aria-selected="false"
                    disabled
                  >
                    Disabled
                  </button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="nav-home"
                  role="tabpanel"
                  aria-labelledby="nav-home-tab"
                  tabindex="0"
                >
                  <!--Formulario editar stream de hoy-->
                  <form class="my-4" method="POST" action="/admin">
                    <div class="mb-3">
                      <label for="title">Titulo del stream</label>
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Titulo"
                        aria-label="default input example"
                      />
                    </div>

                    <div class="mb-3">
                      <label
                        for="exampleFormControlTextarea1"
                        class="form-label"
                        >Descripcion stream</label
                      >
                      <textarea
                        style="resize: none"
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                      ></textarea>
                    </div>

                    <div class="mb-3">
                      <label for="img-optional">Agregar imagen</label>
                      <input class="form-control" type="file" id="formFile" />
                    </div>

                    <div class="mb-3">
                      <button type="submit" class="btn btn-primary mb-3">
                        Guardar cambios
                      </button>
                    </div>
                  </form>
                </div>
                <div
                  class="tab-pane fade"
                  id="nav-profile"
                  role="tabpanel"
                  aria-labelledby="nav-profile-tab"
                  tabindex="0"
                >
                  <form class="my-4" method="POST" action="/admin">
                    <div class="mb-3">
                      <label for="title">Titulo del stream</label>
                      <input
                        class="form-control"
                        type="text"
                        placeholder="Titulo"
                        aria-label="default input example"
                      />
                    </div>

                    <div class="mb-3">
                      <label for="date">Fecha del stream</label>
                      <input
                        class="form-control"
                        type="date"
                        placeholder="Fecha"
                        aria-label="default input example"
                      />
                    </div>

                    <div class="mb-3">
                      <label for="link">Link del video</label>
                      <input class="form-control" type="text" />
                    </div>

                    <div class="mb-3">
                      <label for="province">Seleccionar provincia</label>
                      <select
                        class="form-select"
                        aria-label="Default select example"
                      ></select>
                    </div>

                    <div>
                      <button type="submit" class="btn btn-primary mb-3">
                        Guardar cambios
                      </button>
                    </div>
                  </form>
                </div>
              <div
                class="tab-pane fade"
                id="nav-contact"
                role="tabpanel"
                aria-labelledby="nav-contact-tab"
                tabindex="0"
              >
                <form method="POST" class="my-4">
                  <div class="mb-3">
                    <label for="radio">Nombre de la radio</label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Nombre de radio"
                      aria-label="default input example"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="province">Provincia</label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="provincia"
                      aria-label="default input example"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="city">Ciudad</label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="ciudad"
                      aria-label="default input example"
                    />
                  </div>

                  <div class="mb-3">
                    <label for="frequency">Frecuencia de emisora</label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="frecuencia"
                      aria-label="default input example"
                    />
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary mb-3">
                      Guardar cambios
                    </button>
                  </div>
                </form>
              </div>
              <div
                class="tab-pane fade"
                id="nav-disabled"
                role="tabpanel"
                aria-labelledby="nav-disabled-tab"
                tabindex="0"
              >
                ...
              </div>
            </div>
          </div>
        </article>
      </section>

      <!--Formulario para agregar streams viejos-->
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
