<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {
        title : "Nosotros"
    }) %>
   
<body class="pagina-about">
    <!--Cabezera-->
    <%- include('./partials/header') %>
<head>
    <meta charset="UTF-8">
    <title>Formulario de Contacto</title>
    <link rel="stylesheet" href="estilos.css">
    <!--Icon-Font-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>

    <div class="container-form">
        <div class="info-form">
            <h4>¿Quieres ser parte de nosotros?</h4>
            <img src="/images/banner.png" alt="Banner-inclusivamente">
        
            <a href="#"><i class="fa-solid fa-envelope" style="color: #46d2af;"></i> fundacionemperador@gmail.com</a>
        </div>
        <form action="#" autocomplete="off">
            <input type="text" name="nombre" placeholder="Tu Nombre" class="campo">
            <input type="emal" name="email" placeholder="Tu Email" class="campo">
            <textarea name="mensaje" placeholder="Tu Mensaje..."></textarea>
            <input type="submit" name="enviar" value="Enviar Mensaje" class="btn-enviar">
        </form>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>