<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {
        title : "Home"
    }) %>
<body class="body-home">
    <!--Cabezera-->
    <%- include('./partials/header') %>
    <main>
        
        <!--Stream-->
        <div class="stream-en-vivo">
        <h2>STREAM EN VIVO</h3>
        </div>
        <div class="video-referencia">
            <img src="/images/referencia_video.png" alt="video_referencia" class="scale-up-center" >
        </div>
       <!--Seccion info del stream-->
       <div class="agregado-stream">
        <div class="titulo-stream">
        <h2>Inclusivamente 18/10 Los campeones de la vida!!! </h3>
    </div>
    <div class="descripcion-stream">
        <p>
            Lujo de vierrrrneeesss! Nos visitó Fernando Scabuso (Alfil), Jefe de Operaciones y piloto de la empresa UTV aeroemergencias. Nos cuenta su historia y experiencias desde su corazón. 
No te pierdas este programón! 
Te va a encantar! 
#FundacionEmperador #RadioInclusiva #RadioWox #AccionesQueTransforman #solidaridad #ImpactoSocial #discapacidad #AccionesNoPalabras
        </p>
    </div>
    <div class="imagen-referencia">
        <img src="/images/Imagen_del_caso_utv_1_objetivo.png"  />
    </div>
       </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>