<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {
        title : "Grabaciones"
    }) %>
<body>
    <!--Cabezera-->
    <%- include('./partials/header') %>
    <main>
        <h1>Grabaciones</h1>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>