<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {
        title : "Grabaciones"
    }) %>
<body>
    <!--Cabezera-->
    <%- include('./partials/header') %>
    <main>
        <h1>Grabaciones</h1>
    </main>
    <div class="images-container">
        <div class="row">
          <a href="https://youtu.be/hF7QDvrBT9Q"><img src="../img/fotoProximoVideo.jpg" alt="Descripción 1"></a>
          <a href="url_del_video_2"><img src="../img/fotoEjemplo.jpg" alt="Descripción 2"></a>
          <a href="url_del_video_3"><img src="../img/fotoEjemplo.jpg" alt="Descripción 3"></a>
        </div>
        <div class="row">
          <a href="url_del_video_4"><img src="../img/fotoEjemplo.jpg" alt="Descripción 4"></a>
          <a href="url_del_video_5"><img src="../img/fotoEjemplo.jpg" alt="Descripción 5"></a>
          <a href="url_del_video_6"><img src="../img/fotoEjemplo.jpg" alt="Descripción 6"></a>
        </div>
      </div>
    <%- include('./partials/footer') %>
</body>
</html>