<footer>
   <!--Fundacion-->
   <div>
    <p>Fundacion emperador</p>
   </div>
   <!--Logo redes-->
   <div class="redes">
    <ul>
        <li>Logo facebook</li>
        <li>Logo instagram</li>
        <li>Logo youtube</li>
    </ul>
   </div>
   <!--Desarrollo Moncholo-->
   <div>
    <p>Desarrollo Moncholo</p>
   </div>
</footer>