<footer>
    <section class="footer">
   <!--Fundacion-->
   <div class="fundacion">
    <p>Fundacion emperador</p>
   </div>
   <!--Logo redes-->
   <div class="redes">
        <li>Logo facebook</li>
        <li>Logo instagram</li>
        <li>Logo youtube</li>
   </div>
   <!--Desarrollo Moncholo-->
   <div class="desarrollo-moncholo">
    <p>Desarrollo Moncholo</p>
   </div>
</section>
</footer>