<footer>
    <section class="footer">
   <!--Fundacion-->
   <div class="fundacion">
    <p>Fundacion emperador</p>
   </div>
   <!--Logo redes-->
   <div class="redes">
      <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
   </div>
   <!--Desarrollo Moncholo-->
   <div class="desarrollo-moncholo">
    <p></p>
   </div>
</section>
</footer>