<footer>
    <h2>Footer</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus voluptatem amet doloremque corrupti soluta quas doloribus accusantium praesentium et pariatur iusto, cum deleniti dignissimos, quia quo nisi dolorem exercitationem alias.</p>
</footer>