<header>
    <div class="logo-fundacion">
        <img src="/images/logoFundaEmp.png" alt="logo_fundacion" class="imagen-logo">
    </div>
    <div class="barra-navegacion">
        <nav>
            <div class="nav-links">
                <a href="/">Stream en vivo</a>
                <a href="/records">Grabaciones</a>
                <a href="/about">Nosotros</a>
            </div>
            <div class="login-container">
                <a href="/users/login" class="login-link">
                    <img class="login-icons" src="/icons/login-icon.png" alt="icon-login">
                    <span>Iniciar sesión</span>
                </a>
            </div>
        </nav>
    </div>
</header>