<header>
    <!--Banner inclusivamente-->
    <div class = "banner-inclusivamente">
    <img src="/images/banner_inclusivamente.png" alt="banner_inclusivamente">
    </div>
    <!--Logo fundacion emperador-->
    <div class = "logo-inclusivamente">
        <img src="/public/images/logo_fundacion_emperador.svg" alt="logo_fundacion">
    </div>
    <!--Barra de navegacion-->
    <div class="barra-navegacion">
        <ul>
            <li><a href="/">Stream en vivo</a></li>
            <li><a href="/records">Grabaciones</a></li>
            <li><a href="/about">Nosotros</a></li>
        </ul>
    </div>
   
</header>