<header>

    <div class="barra-navegacion">
        <nav>
           
                    <div class="nav-links">
                        <a href="/stream">Stream en vivo</a>
                        <a href="/records">Trasmisiones</a>
                        <a href="/radios">Radios</a>
                        <a href="/admin">Usuarios</a>
                    </div>
                    <a href="/users/profile" class="login-link">
                        <img class="login-icons" src="/icons/profile-icon.png" alt="icon-user">
                        <span>Mi Perfil</span>
                    </a>
                    <a href="/users/logout" class="login-link">
                        <img class="login-icons" src="/icons/logout-icon.png" alt="icon-logout">
                        <span>Cerrar Sesión</span>
                    </a>
             
            </div>
        </nav>
    </div>
</header>