<header>
    <!--Banner inclusivamente-->
    <div class = "bannerInclusivamente">
    <img src = "">
    </div>
    <h1>header</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Nosotros</a></li>
        <li><a href="/records">Grabaciones</a></li>
    </ul>
</header>