<header>
    <!--Banner inclusivamente-->
    <div class = "banner-inclusivamente">
    <img src="/images/banner.png" alt="banner_inclusivamente" class="flip-scale-2-hor-top">
    </div>
    <!--Logo fundacion emperador-->
    <div class = "logo-fundacion">
        <img src="/images/logoFundaEmp.png" alt="logo_fundacion" class="rotate-scale-up">
    </div>
    <!--Barra de navegacion-->
    <div class="barra-navegacion">
            <a href="/">Stream en vivo</a></li>
            <a href="/records">Grabaciones</a></li>
            <a href="/about">Nosotros</a></li>
    </div>
   
</header>