<div class="modal fade" id="modal-profile<%= id %>" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Mi Perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="profile-container">
                    <div class="profile-photo">
                        <img src="/images/default-profile.png" alt="Foto de perfil" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
                    </div>
                    <div class="profile-info">
                        <h2><%= username %></h2>
                        <p><strong>Email:</strong> <%= email %></p>
                        <p><strong>Radio:</strong> <%= radio ? radio.name : 'No asignada' %></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>