<div class="modal fade" id="userRecoveryModal<%= id %>" tabindex="-1" aria-labelledby="userRecoveryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userRecoveryModalLabel">Recuperación de Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="<%= route %>" method="POST">
                    <div class="mb-3">
                        <label for="newUsername" class="form-label">Nuevo Nombre de Usuario</label>
                        <input type="text" class="form-control" id="newUsername" name="newUsername" placeholder="Ingresa nuevo nombre de usuario" required>
                    </div>
                    <div class="mb-3">
                        <label for="newEmail" class="form-label">Nuevo Correo Electrónico</label>
                        <input type="email" class="form-control" id="newEmail" name="newEmail" placeholder="Ingresa nuevo correo electrónico" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Nueva Contraseña</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Ingresa nueva contraseña" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>