@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container-form{
    
        margin: auto;
        padding: 30px;
        margin: 20px;
        border-radius: 30px;
        background-color: white;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    display: none;
}
.container-form a i{
    color: var(--color-celeste);
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.info-form img {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;

}

.fa-solid.envelope:before {
 width: 100px;
}
.info-form h4 {
    text-align: center;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: var(--color-celeste);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.container-form .btn-enviar:hover{
    background-color: var(--color-azul);
}


@media (min-width: 768px){ 
    .container-form{
    
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin-top: 90px;
        padding: 30px;
        margin: 20px;
        border-radius: 30px;
        background-color: white;
    }

.info-form img {
    width: 400px;
    height: auto;
    padding: 0 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.info-form a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-top: 30px;
    color: black;
    text-align: center;
    font-weight: 700;
}
}


@media (min-width: 1024px){ 
    .container-form{
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        padding: 30px;
        margin: 20px;
        border-radius: 30px;
        background-color: white;
    }
    .container-form a {
   font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    font-weight: 700;
    margin-top: 15px;

    }

    .info-form img {
        width: 400px;
    height: auto;
    padding: 0 30px;
    margin-top: 40px;
    margin-bottom: 10px;
    }
}


