.video-referencia{
    display: flex;
    padding: 10px;
}

.video-referencia img{
    width: 320px;
    margin-left: -10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.imagen-referencia img{
   margin-left: 80px;
    width: 150px;
}

.titulo-stream{
    padding: 10px;
}

@media (min-width: 768px){
    .video-referencia img{
        margin-left: 100px;
        width: 600px;
    }

    .imagen-referencia img{
        margin-left: 280px;
         width: 200px;
     }
}

@media (min-width: 1024px){
    
    .video-referencia{
        
    }
    
    .video-referencia img{
        margin-left: 250px;
        
       
    }

    .imagen-referencia img{
        margin-left: 420px;
         width: 200px;
     }
}