.body-home{
    margin:0%;
}

/*Stream en vivo*/

.stream-en-vivo{
    justify-content: center;
    margin-left: 50px;
    font-family: "Josefin Sans", sans-serif;
}


/*Imagen de video*/
.video-referencia{
    display: flex;
    padding: 10px;
}

.video-referencia img{
    width: 320px;
    margin-left: -10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.imagen-referencia img{
   margin-left: 80px;
    width: 150px;
}

.titulo-stream{
    padding: 10px;
    font-family: "Teko", sans-serif;
}

.descripcion-stream{
    font-family: "DM Sans", sans-serif;
}

@media (min-width: 768px){
    /*Stream en vivo*/

    .stream-en-vivo{
        margin-left: 280px;
    }
    
    /*Imagen de video*/
    .video-referencia img{
        margin-left: 70px;
        width: 600px;
    }
    /*Titulo stream*/




/*Imagen agregado*/
    .imagen-referencia img{
        margin-left: 280px;
         width: 200px;
     }
}

@media (min-width: 1024px){
     /*Stream en vivo*/

     .stream-en-vivo{
        font-size: 40px;
        margin-left: 470px;
    }

    
 /*Imagen de video*/

    .video-referencia img{
        margin-left: 390px;
        width: 700px;
       
    }

/*Titulo stream*/
.titulo-stream{
    font-size: 25px;
}

/*Descripcion stream*/
.descripcion-stream{
    font-size: 30px;
}

/*Imagen agregado*/
    .imagen-referencia img{
        margin-left: 650px;
         width: 200px;
     }
}