.login-body {
    font-family: Arial, sans-serif;
    background-image: url('../images/fondoRegisterInvlusiva.png'); /* Agrega la ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.back-container {
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 1000;
}

.fa-arrow-left-long {
    font-size: 24px;
    color: var(--color-celeste); /* Usa el color celeste principal */
    cursor: pointer;
    transition: all 0.3s ease;
}

.fa-arrow-left-long:hover {
    color: var(--color-azul); /* Cambia a azul al pasar el mouse */
    transform: translateX(-5px); /* Efecto de movimiento al hover */
}

.Logo-Inclusivamente {
    width: 226px;
    height: 100px;
    margin: 3px;
}
.container-login {
    background: white;
    padding: 6px;
    width: 250px;
    border: solid   #A5C8A8;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-tittle {
    margin-bottom: 20px;
}
.profile-body{
    margin: 0;
}
.olvidaste {
display: block;
margin-top: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: var(--color-celeste);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Añadimos la transición */
}

.button:hover {
    background-color: var(--color-azul);
}

@media (min-width: 768px){
    .back-container {
        position: absolute;
    top: 50px;
    left: 20px;
    z-index: 1000;
    }
.Logo-Inclusivamente {
    width: 350px;
    height: 200px;
    margin: 10px;
}
.container-login {
    width: 400px;
}

.olvidaste{
display: inline-flex;
margin-top: 15px;
justify-content: right;
margin-left: 90px;
}
}


@media (min-width:  1024px){
    .back-container{
        position: absolute;
    top: 30px;
    left: 40px;
    z-index: 1000;
    }
    .login-container{
        display: flex;
        justify-content: right;
        margin-right: 50px;
        margin-top: 5px;
    }
.Logo-Inclusivamente{
height: 150px;
margin: 10px;
}
.olvidaste {
    display: inline;
    margin-left: 88px;
}


}