


 
.Titulo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}

.images-container {
  
  width: 100%;
   /*max-width: 370px; /* Ajustado al ancho máximo de la página */
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.images-container article {
border: 2px solid var(--color-celeste);
padding: 10px;
}



/* Para hacer el diseño responsive */
@media (min-width: 768px) {
  .images-container {
   /* Ajusta este valor según tus necesidades */
    flex-direction: row;
    margin: 0 auto;
    width: 700px;
    justify-content: space-between;

}

.images-container article {
  width: 320px;
}


  }


@media (min-width: 1024px) {
  .images-container {
    width: 100%;
    max-width: 1200px; /* Ajusta este valor según tus necesidades */
    margin: 0 auto;
}

.images-container article {
  width: 380px;
}

.pagina-grabaciones {
  background-color: #E2F6F6;
}
}