
/*Subtittles*/

.Titulo2{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
  font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;

}


 
.Titulo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;

}


/*Seccion records*/
h4 {
  font-family: "Sriracha", cursive;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}


.images-container {
  
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.images-container article {
  border: 10px double var(--color-blanco);
  border-radius: 20px;
  padding: 7px;
  text-align: center;
}
 
.images-container-prox {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.images-container-prox article {
  padding: 7px;
  background-color: white;
  border: double 3px var(--color-celeste2);
  border-radius: 20px;
  text-align: center;
}

iframe {
  border: 0;
  border-radius: 10px;
}



/*Tablet*/

@media (min-width: 768px) {
.images-container-prox{
  flex-direction: row;
  margin: 0 auto;
  width: 700px;
  justify-content: space-between;
}
.images-container-prox article {
  width: 320px;

}
  .images-container {
    flex-direction: row;
    margin: 0 auto;
    width: 700px;
    justify-content: space-between;

}

.images-container article {
  width: 320px;
  
    padding: 7px;
    background-color: white;
    border: double 3px var(--color-celeste2);
    border-radius: 20px;
  
}


  }


@media (min-width: 1024px) {

  .images-container-prox {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

  }
  .images-container-prox article {
    width: 0 auto;
  }
  .images-container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
}

.images-container article {
  width: 0 auto;
}


}