@import url('./general.css');
@import url('./variables.css');
@import url('./home.css');
@import url('./records.css');
@import url('./admin.css');
@import url('../animations/animations.css');
@import url('./register.css');
@import url('./login.css');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/*Seccion header*/

.banner-inclusivamente{
   display: flex;
   
}

.banner-inclusivamente img{
    
    width: 100%;
    height: 300px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: -60px;
    padding-bottom: 100px;

}



.logo-fundacion{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.logo-fundacion img {
    width: 150px;
  margin-bottom: 40px;

}

    


.barra-navegacion nav {
    display: flex;
    justify-content: space-around;
    font-family: "Teko", sans-serif;
 

}

.barra-navegacion{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #15B6B8;
    padding: 15px 0;
    

}

.barra-navegacion a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
     
}

.barra-navegacion a:hover {
    background-color: #0E8385;
}


/*Seccion footer*/
.footer{
    display: flex;
    justify-content: center;
    font-size: 10px;
 
}

.redes{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    
}



/*Tablet*/
@media (min-width: 768px){

/*Header*/
.barra-navegacion a{
    font-size: 30px;
}

/*Footer*/
.footer{
    gap: 180px;
}

.fundacion{
    margin-left: 10px;;
}

.redes{
    gap:15px;
}

}

/*Pc*/
@media (min-width: 1024px){
  
/*Header*/

.barra-navegacion a{
    font-size: 25px;
}
  
    /*Footer*/
.footer{
    font-size: 15px;
}

.fundacion{
    
}

.desarrollo-moncholo{
   
  
   
}

.redes{
    
}
}