@import url('./general.css');
@import url('./variables.css');
@import url('./home.css');
@import url('./records.css');
@import url('./admin.css');
@import url('../animations/animations.css');
@import url('./register.css');
@import url('./login.css');
@import url('./about.css');
@import url('./profile.css');
@import url('./contact.css');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sriracha&display=swap');
@import url('./stream.css');
/*Seccion header*/
.none{
    display: none;
}
.pagina-grabaciones {
margin: 0;}

.banner-inclusivamente{
   display: flex;
}

.banner-inclusivamente img{
    width: 300px;
    margin-left: 10px; 
   height: 160px; 
   margin: 2px;
}

main {
    margin-bottom: 60px;
}
.logo-fundacion {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.logo-fundacion img {
    width: 170px;

}

/*Seccion barra de navegacion*/
    
.login-container {
    display: flex;
    justify-content: right;
    margin-right: 10px;
    margin-top: 5px;
}

.login-icons {
    width: 24px; 
    height: 24px;
    cursor: pointer;
    
}


.nav-links nav {
       display: flex;
    justify-content: center;
    font-family: "Teko", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0%;
    

}



.nav-links a{
    display: flex;
    
}

.barra-navegacion{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #15B6B8;
    padding: 15px 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
   
        position: relative; /* Necesario para que el z-index funcione */
        z-index: 9000; /* Un valor alto para que esté por encima */
        background-color: #15B6B8; /* Color de fondo de la barra de navegación */
        
    
    
    

}


.barra-navegacion a{
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    
     
}



.barra-navegacion a:hover {
    background-color: #0E8385;
}


/*Seccion footer*/


.footer {
    width: 100%;
    height: 100px;

    background-color: var(--color-celeste);
    border-top: 1px solid #000000;
    padding: 0px 0px 140px;
    flex-shrink: 0;
}

.footer-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
}
.fundacion-sub{
    border: double 3px var(--color-celeste2);
    padding: 3px;
    border-radius: 20px;
}
.desarrollo-sub {
    border: double 3px var(--color-celeste2);
    padding: 3px;
    border-radius: 20px;
}
.fa-square-facebook:before {
 color: #3b5998;
}
.fa-youtube:before {
 color: #FF0000;
}
.fa-instagram:before{
 color: #FF69B4;
}

.fundacion {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: var(--color-blanco);
}
.desarrollo-moncholo {
    display: flex;
    justify-content: center;
    color: var(--color-blanco);
}

.dropdown-menu.bg-success {
    background-color: var(--color-celeste) !important;  /* Color de fondo del menú */
    color: white !important; /* Color del texto */
    border-radius: 5px !important; /* Bordes redondeados */
    padding: 10px !important; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Sombra */
    margin-top: 10px !important; /* Margen superior para evitar superposición con la barra de navegación */
    z-index: 1000 !important; /* Asegúrate de que esté por encima de otros elementos */
}



/*Tablet*/

@media (min-width: 768px){

    /*Seccion header*/
.banner-inclusivamente img {
 
    width: 90%;
    margin-left: 30px;
    height: 300px;
    margin-bottom: -30px;

}
    .logo-fundacion img {
        width: 180px;
        margin-bottom: 20px;
}


.fundacion, .redes, .desarrollo-moncholo {
    width: 33%; 
    text-align: center; 
    margin: 0;
}

/*Seccion barra de navegacion*/

.barra-navegacion nav {
    display: flex;
        justify-content: space-around;
        font-family: "Teko", sans-serif;
        margin-left: 10px;
        margin-right: 10px;
}



.barra-navegacion a{
    font-size: 30px;
}

/*Seccion footer*/

.footer {
    width: 100%;
    border-top: 1px solid #000000;
    padding: 20px 0px 180px;
}

.footer-entero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}
}





/*Pc*/
@media (min-width: 1024px){

 /*Seccion header*/

.logo-fundacion img {
    width: 200px;
    display: flex;
    justify-content: center;
}
.banner-inclusivamente img {
    width: 90%;
    height: 300px;
    margin-top: 30px;
    padding-left: 30px;

}

/*Seccion barra de navegacion*/

.barra-navegacion a{
    font-size: 25px;
}
.barra-navegacion nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Teko", sans-serif;
    padding: 0 20px;
}

.nav-links {
    display: flex;
}


.login-container {
    display: flex;
    align-items: center;
}

.login-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login-link:hover {
    background-color: #0E8385;
}

.login-icons {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

    /*Seccion footer*/

    .footer-entero {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin-top: 50px;
    }

    .fundacion, .redes, .desarrollo-moncholo {
        width: 30%;
        margin-right: 80px;
    }

    .fundacion {
        text-align: left;
    }

    .desarrollo-moncholo {
        text-align: right;
    }

   

}
    

