@import url('./general.css');
@import url('./variables.css');
@import url('./home.css');
@import url('./records.css');

/*Seccion header*/

.banner-inclusivamente{
   display: flex;
}

.banner-inclusivamente img{
    width: 100%;
}



.logo-fundacion{
    
    display: flex;
    justify-content: center;
    
}

.logo-fundacion img {
    width: 80px; /*Todas las imagenes van a tener un ancho de 120px*/
    margin-top: 5px; /*La imagen va a estar mas arriba*/
    
}

.barra-navegacion{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 17px; /*Aumentar tamaño letra*/
    padding: 10px; /*Espacio arriba y abajo de los items*/
    background-color: #15B6B8;
    text-align: center;

}

.barra-navegacion a{
    color: #333;
    text-decoration: none; 
     
}


/*Seccion footer*/
.footer{
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.redes{
    display: flex;
    
}

.desarrollo-moncholo{
    margin-right:  -20px;
}

.fundacion{
    margin-left: 20px;
}

/*Tablet*/
@media (min-width: 768px){

/*Header*/
   

/*Footer*/
.footer{
    gap: 180px;
}

.fundacion{
    margin-left: -20px;
}

.redes{
    gap:15px;
}

}

/*Pc*/
@media (min-width: 1024px){
    /*Footer*/
.footer{
    font-size: 15px;
}

.fundacion{
    margin-left: -400px ;
}

.desarrollo-moncholo{
    margin-right: 0px;
    margin-left: -100px;
  
   
}

.redes{
    margin-left: 0px;
}
}