:root{
    --color-celeste: #15B6B8;
    --color-blanco: #FAFAFA;
    --color-gris: #444340;
    --color-gris2: #595854;
    --color-azul: #153CB8;
    --color-negrito: #59585445;
    --color-blanco2: #E2F6F6;
    --color-celeste2: #8ADBDB;
    --color-gris-claro: #A5C8A8;
}
