<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {
        title : "Nosotros"
    }) %>
   
<body class="login-body">
  <div class="back-container">
    <a href="/">
        <i class="fa-solid fa-arrow-left-long"></i>
    </a>
</div>
    <div class="container-login">
      <img class="Logo-Inclusivamente" src="/images/banner.png" alt="InclusivaMente">
    <h2 class="login-tittle">Iniciar sesión</h2>
        <form action="/users/login" method="POST">
        
          <label>Correo electrónico:</label>
          <input type="email" id="email" name="email" placeholder="correo123@email.com">
          <br>
          <label>Contraseña:</label>
          <input type="password" id="password" name="password" placeholder="*********">
          <br>
          <button class="button">Iniciar sesión</button>
          <a class="olvidaste" href="#">¿Olvidaste tu contraseña?</a>
        </form>
        <p class="alert-text">
          <%= locals.msg && msg %>
        </p>
      </div>
</body>
</html>