<footer>
    <div>
     <p>Fundacion emperador</p>
    </div>
    <div class="redes-s">
     <ul>
         <li>Logo facebook</li>
         <li>Logo instagram</li>
         <li>Logo youtube</li>
     </ul>
    </div>
 </footer>