<header>
    <div class = "banner">
    <img src="/img/banner.png" alt="banners">
    </div>
    <!--Logo fundacion emperador-->
    <div class = "fundacion-icon">
        <img src="/img/logoFundaEmp.png" alt="logo_fundacion">
    </div>
    <!--Barra de navegacion-->
    <div class="barra-nav">
            <a href="/home">Stream en vivo</a></li>
            <a href="/records">Grabaciones</a></li>
            <a href="/about">Nosotros</a></li>
    </div>
   
</header>